---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-exception-escape
        -bugprone-suspicious-include,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-prefer-member-initializer,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -misc-non-private-member-variables-in-classes,
        -modernize-use-trailing-return-type,
        -readability-avoid-const-params-in-decls,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -zircon-*,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
